#pic {
    width: 10em;
    height: 10em;
}

table {
    float: left;
    width: 90%;
    height: 100%;
}

.mainDiv {
    float: left;

}

#image {
    width: 10%;
    color: #8C54A1;
    font-size: 25px;
}

#name {
    width: 15%;
    color: #8C54A1;
    font-size: 25px;
}

#age {
    width: 11%;
    color: #8C54A1;
    font-size: 25px;
}

#personality {
    width: 20%;
    color: #8C54A1;
    font-size: 25px;
}

Button {
    width: 6em;
    background-color: #8C54A1;
    color: #B2EBF9;
    padding: 1em;
    border-radius: 20%;
    border: 1px solid #B2EBF9 
}

#tdname {
    text-align: center;
    font-weight: bold;
}
#tdage {
    text-align: center;
}