.homeDiv{
    width: 100%;
    background: white;
    margin-right: 5%;
    margin-left: -1%;


}

#consult {
    height: 30%;
    width: 30%;
    float: left;
    padding-right: 1%;
}

#consult2 {
    float: right;
    height: 30%;
    width: 30%;
    padding-left: 1%;
    
}


