#humaneSoc {
    background: #aea1ea;
    float: left;
    width: 15%;
    margin: 0;
    text-align: left;
    height: 100%;
    padding-left:0.3%;

}

#title {
    color: white;
}

.info {
    color: white;
    font-size: 13px;
}

#humaneSoc a:hover{
    color: #b2ebf9;
    font-size: 16px;
}

