.main{
    width: 80%;
    text-align: left;
    padding-left: 30px;
    float: right;
    

}

#modal {
    background-color: #B2EBF9;
    width: 50%;
    margin-left: 38em;
    margin-top: -60em;
    text-align: center;
    position: absolute;
}

#container1 {
    background: white;
    height: 100%;
}